@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Permanent+Marker&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f3f4;
}

main {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 20px;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
}

h2 {
  font-family: "Lobster", sans-serif;
}

h1,
h2 {
  text-align: center;
}

.question {
  border-radius: 10px;
  margin-bottom: 20px;
}

.question legend {
  font-weight: 700;
}

button {
  padding: 10px 50px;
  border-radius: 120px;
  display: block;
  margin: 0 auto;
}

.question1 {
  background-color: #b2beb5;
}
.question2 {
  background-color: #bcd4e6;
}
.question3 {
  background-color: #b2beb5;
}
.question4 {
  background-color: #bcd4e6;
}
.question5 {
  background-color: #b2beb5;
}
.question6 {
  background-color: #bcd4e6;
}

select {
  border-radius: 5px;
}
